* {
  font-family: roboto;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  overflow: hidden;
  background: lightsalmon;
}

.weather {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 300px;
  margin: auto;
  display: flex;
  align-items: center;
}
.bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.bg img {
  width: 100%;
  min-height: 100%;
}
.container {
  display: flex;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 10;
}
.main-view {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.main-view * {
  color: #fff;
}
.main-view h4 {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 600;
}
.top {
  flex: 1;
}
.main-temp {
  font-size: 30px;
}
.sub-list {
  flex: 1;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.list-item {
  flex: 1;
  border-bottom: 1px solid #bebebe;
  display: flex;
  align-items: flex-end;
}
.list-item:last-child {
  border-bottom: none;
}
.statittic {
  flex: 1;
}
.statittic p {
  margin-bottom: 7px;
}
.statittic h4 {
  margin-top: 5px;
  margin-bottom: 14px;
}

h1 {
  font-size: 100px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 20px;
  }
}
